.row
  .col-lg-4
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Top-Level Tasks
      .panel-body
        Stuff
  .col-lg-8
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Full Output
      .panel-body
        Logs
