/ /.row
.row
  .col-lg-3.col-md-6
    .panel.panel-primary
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-clock-o.fa-5x
          .col-xs-9.text-right
            .huge
              = running_time
            %div Time Elapsed
  .col-lg-3.col-md-6
    .panel.panel-green
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-check.fa-5x
          .col-xs-9.text-right
            .huge 12
            %div Completed Tasks
  .col-lg-3.col-md-6
    .panel.panel-yellow
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-spinner.fa-5x
          .col-xs-9.text-right
            .huge 124
            %div Running Tasks
  .col-lg-3.col-md-6
    .panel.panel-red
      .panel-heading
        .row
          .col-xs-3
            %i.fa.fa-exclamation.fa-5x
          .col-xs-9.text-right
            .huge 13
            %div Failed Tasks
/ /.row
