%form#search_form.input-group.custom-search-form{ href: '/' }
  %input{ type: 'text', class: 'form-control', placeholder: 'Search...', name: 'searchfield'}
  %span.input-group-btn
    %button.btn.btn-default{type: 'button'}
      %i.fa.fa-search
